h1, h2 {
	letter-spacing: 0;
}

.blue-bar {
	padding-top:20px;
	border-left:5px solid #42CBD4 !important;
	padding-left:20px;
	
}

.sec_title {
	color:black;
	font-size:1.8em;
	font-weight:bold;

}

.sec_img img{
	padding-left:50px;
	width:450px;
}

.sec_img2 img{
	padding-right:50px;
	width:450px;
}

.row {
	padding-bottom:50px;
}